div {
    display: flex;
    vertical-align: middle;
    justify-content: space-around;
    align-items: center;
    background-color: #ffc16b;
}

a {
    margin: 10px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    background: #EB8F33;
    color: #FFFFFF;
    font-size: 0.9rem;

}
