<form class="inlines" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <select name="familyPerson" ngModel required>
    <option *ngFor="let person of family" [ngValue]="person">
      {{person.name}}さん({{person.relationship | relationship_value}})
    </option>
  </select>
  <input class="year" name="year" [(ngModel)]="event.year" type="number" required (click)="$event.target.select()" min="0" >
  <input class="event" name="event" [(ngModel)]="event.event" type="text" required>
  <input class="money" name="money" [(ngModel)]="event.money" type="number" required (click)="$event.target.select()" min="0" >
  <button type="submit" [disabled]="!f.form.valid">更新</button>
</form>
<button class="inlines" (click)="delete()">削除</button>
