input, select, button {
    font-size: 14px;
    border: solid 1px #EEEEEE;
    padding: 10px;
    border-radius: 0;
    background-color: #FFFFFF;
}
.inlines {
    display: inline;
}
.year {
    width: 60px;
    height: 20px;        
}
.age {
    width: 60px;
    height: 20px;        
}
.event {
    width: 200px;
    height: 20px;    
}
.money {
    width: 80px;
    height: 20px;        
}

