hr {
  color: #F2F2F2;
}

.saving {
  display: flex;
  justify-content: flex-end;
}

.title {
  display: flex;
  width: 275px;
  height: 45px;
  font-weight: bold;
  background: #EB8F33;
  border: 3px solid #EB8F33;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  justify-content: center;
}

.total {
  display: inline-flex;
  width: 125px;
  height: 45px;
  font-weight: bold;
  background: beige;
  border: 3px solid #EB8F33;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.3rem;
  align-items: flex-end;
  justify-content: flex-end;
}

.unit {
  font-size: 0.7rem;
  padding-left: 5px;
  padding-right: 5px;
}

div.radius-white {
  display: flex;
  height: 26px;
  width: 26px;
  font-weight: bold;
  background: #FFFFFF;
  border-radius: 13px;
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
}
