<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <select name="familyPerson" ngModel required placeholder="person">
    <option *ngFor="let person of family" [ngValue]="person">
      {{person.name}}さん({{person.relationship | relationship_value}})
    </option>
  </select>
  <input class="year" name="year" type="number" ngModel required placeholder="年次" (click)="$event.target.select()" min="0" >
  <input class="event" name="event" type="text" ngModel required placeholder="イベント">
  <input class="money" name="money" type="number"  ngModel required placeholder="金額" (click)="$event.target.select()" min="0" >
  <button type="submit" [disabled]="!f.form.valid">登録</button>
</form>
