<!--The content below is only a placeholder and can be replaced.

<h2>app home</h2>
-->

<nav>
  <ul>
    <li><a routerLink="family" routerLinkActive="active-link">家族情報</a></li>
    <li><a routerLink="income-confirmation" routerLinkActive="active-link">家計の収支確認表</a></li>
    <li><a routerLink="balance-sheet" routerLinkActive="active-link">家計のバランスシート</a></li>
    <li><a routerLink="life-event" routerLinkActive="active-link">ライフイベント表</a></li>
    <li><a routerLink="cash-flow" routerLinkActive="active-link">キャッシュフロー表</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
