<span class="name">年</span>
<span class="name" *ngFor="let person of family">{{person.relationship | relationship_value}}の年齢</span>
<span class="name">ライフイベント</span>
<span class="name">かかるお金</span>
<ul>
  <li *ngFor="let lifeEvent of lifeEvents; let i = index">
    <app-life-event-detail
      *ngIf="!edit"
      [family]="family"
      [event]="lifeEvent"
      (click)="onClick()">
    </app-life-event-detail>
    <app-life-event-update
      *ngIf="edit"
      [rownum]="i"
      [family]="family"
      [event]="lifeEvent"
      (submitLifeEvent)="changeEvent()">
    </app-life-event-update>
  </li>
</ul>
