.app-box {
  margin-bottom: 50px;
}
.app-box:after {
  display:block;
  clear:both;
  height:0px;
  visibility:hidden;
  content:".";
}
app-asset {
  float: left;
}
app-liability {
  float: left;
  margin-left: 50px;
}

.stockholders-equity-box {
  margin-top: 30px;
  display: inline-flex;
  align-items: center;
  padding-left: 15px;
  background-color: #EB9967;
  font-size: 19px;
  font-weight: bold;
}

.stockholders-equity-box p {
  background-color: white;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  margin: 0px 10px 0px 5px;
}

.stockholders-equity-money-box {
  height: 3.5rem;
  width: 11rem;
  background-color: #FFF4D2;
  border: solid 3px #EA9562;
  margin-left: 25px;
  position: relative;
}
.stockholders-equity-money {
  bottom: 0.8rem;
  position: absolute;
  right: 50px;
}
.stockholders-equity-monetaryUnit {
  position: absolute;
  bottom: 0px;
  right: 3px;
}
